{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatBot</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-body">
                {%csrf_token%}
                <form method="post">
                    <input class="card-text-input" type="text" placeholder="Enter Your Prompt"><br><br>
                    <input type="submit" value="submit">
                </form>



            </div>
        </div>
    </div>
</body>
</html>